@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600&family=Major+Mono+Display&display=swap');

 * {
     -moz-box-sizing: border-box;
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
 }
 body,
 html {
     min-height: 100vh;
     margin: 0px;
     padding: 0px;

    display: -webkit-box;
     display: -moz-box;
     display: -ms-flexbox;
     display: -webkit-flex;
     display: flex;

     -webkit-flex-wrap: wrap;
     -moz-flex-wrap: wrap;
     -ms-flex-wrap: wrap;
     flex-wrap: wrap;

     -webkit-align-items: center;
     -moz-align-items: center;
     -ms-align-items: center;
     align-items: center;
 }

 body {
     background-color: #fff;
     padding: 2rem;
     width: auto;
     margin: auto;

     font-style: normal;
     font-family: Major Mono Display, sans-serif;
     font-size: 1.5rem;
	   line-height: 1.1;
      letter-spacing: -0.0125em;
     text-rendering: optimizeLegibility;
}
header {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 0;
  margin: 0.5rem auto;
}
.imgholder {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 280px;
  justify-content: center;
  align-content: center;
  margin: 1.5rem auto;
  padding: 0;
}

section {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  background-color: #FEDA00;
  justify-content: center;
  margin-bottom: 2.2rem;
}
div.line {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  height: 80%;
  border-right: 0.2rem solid white;
  border-bottom: 0.2rem solid white;
  background-color:  #c1beb7;
  margin: 1rem 1rem;
  padding: 1rem 1rem;
}
img {
  display: flex;
  align-self: center;
  justify-self: center;
  margin: 1rem auto;
  padding: 0;
  border: none;
  border-bottom: none;
}
.lownav {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 100%;
}

h1 {
  display: block;
  font-family: IBM Plex Sans, sans serif;
  font-weight: 100;
  text-align: center;
  line-height: 5rem;
  font-size: 5rem;
  letter-spacing: 0.1em;
  margin: 0;
  padding: 0;
}
h2 {
  font-size: 1.3rem;
  line-height: 1.2;
  text-align: center;
  margin: 2rem auto;
}
h2 span {
  color: #fe611a;
}
h3 {
  font-size: 1rem;
  text-align: center;
}
p {
  font-size: 1.05rem;
  font-family: IBM Plex Sans, sans serif;
  text-rendering: optimizeLegibility;
  font-weight: 400;
   letter-spacing: -0.1px;
   line-height: 1.3em;
}
p span {
  font-weight: 600;
}

a  {
  color: #000000;
  text-decoration: none;
  transition: color 0.2s, border-bottom 0.3s, background-color 0.8s;
  border-bottom: none;
  padding: 0.5rem;
  margin: 0;
}
a:hover, button:hover {
  border-bottom: solid 0.02rem #fe611a;
  background-color: #fe611a;
}
a.selected {
  color: #fe611a;
}
button {
  font-family: IBM Plex Sans, sans serif;
  font-weight: 200;
  background-color: #FEDA00;
  padding: 1 auto;
  margin: 0.5rem auto;
  border: none;
  padding: 0.5rem;
  border-bottom: solid 0.02rem #FEDA00;
  font-size: 1rem;
  transition: border-bottom 0.3s, background-color 0.8s;
}
section.about div.line {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.text {
  max-width: 30rem;
}
div.two {
  max-width: 32rem;
  line-height: 1.2rem;
  font-size: 1rem;
  margin: 2rem;
}
li {
  background-color: #FFFFFF;
  margin: 1rem auto;
  list-style-type: none;
  padding: 0.05rem;
  letter-spacing: -0.6px;
  line-height: 1.1em;
}
footer {
  display:  flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1.5rem auto;
  padding: 0.2rem;
  font-size: 1.3rem;
}
