@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Major+Mono+Display&display=swap');

body {
	font-family: IBM Plex Sans;
	font-size: 18px;
	line-height: 1.2;
	
	background-color: #c2c2c2;
  background-image: url(frame-1.png);
	background-repeat: repeat-x;
  background-position: center;
  background-attachment: scroll;
  background-size: 20px 100%;
	color: #333333;
	margin: 80px auto 48px auto;
	width: 1125px;
}
header {
  display:  flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
h1, nav, footer {
  font-family: Major Mono Display;
	font-size: 40px;
	font-weight: 700;
}
h1 span {
  color: #fe611a;
}
h1 {
  justify-content: center;
}
h2 {
  font-family: IBM Plex Sans;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.2;
  margin:  16px 0 0 0;
}
a  {
  color: #000000;
	font-size: 24px;
	font-weight: 700;
  text-decoration: none;
  margin: 0 0 0 32px; 
  transition: color 0.2s, border-bottom 0.3s;
  border-bottom: 2px solid transparent;
}
a:hover, a.selected {
  color: #fe611a;
  border-bottom: 2px solid #fe611a;
}
section {
  margin: 80px auto 80px auto;
  display:  grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 32px 32px;
  grid-auto-flow:  dense;
}
section h1 {
  grid-column: 3/span 8;
  text-align: center;
}
section.project div.artwork {
	grid-column: 1/span 12;
  align-items:  center;
  margin: 24px 0 0 0;
}
section.project p {
  grid-column: 1/span 10;
  margin: 3px 0 0 0;
}
section.project img {
  max-height:  640px;
  border-radius: 5px;
}
section.about div.text {
  grid-column: 3/span 8;
  align-items: center;
  justify-content: center;
}
section.about h1 {
  grid-column: 3/span 6;
  align-items: center;
  justify-content: center;
}
section.about p {
  margin: 18px 0 18px 0;
  line-height: 1.7;
	font-family: IBM Plex Sans;
}
footer {
  display:  flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
footer a {
  margin: 18px 32px 0 32px;
}

@media (max-width: 1248px) {
  body {
    width:  auto;
    margin: 80px 64px 48px 64px; 
  }
}
@media (max-width: 920px) {
  header {
   flex-direction: column;
   }
  h1, footer a {
    font-size: 18px;
  } 
  nav a {
    font-size: 18px;
  }
  header img {
    max-width: 300px;
  }
  header a {
    margin: 0 16px 0 16px;
  }
}
@media (max-width: 660px){
  nav a, footer a {
    font-size: 14px;
    margin: 32px 12px 12px 0;
  }
  header img {
    max-width: 200px;
  }
  section {
    grid-template-columns: repeat(4, 1fr);
    gap: 24px 24px;
    margin: 0 18px 0 18px;
  } 
  section h1, h2 {
    grid-column: 1/span 4;
    margin: 24px 0 0 0;
    font-size: 16px;
  }
  section.project div.artwork,
 	section.about h1,
  section.about div.text {
    grid-column: 1/span 4;
    margin: 24px 0 0 0;
  }
  section.about p, 
  section.project p{
    font-size: 12px;
    grid-column: 1/span 4;
  }
}
@media (max-width:500px) {
  body {
    margin: 12px 12px 12px 12px;
  }
  header img{
    width:100%;
    margin: 24px 0 0 0;
}
  nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  h2 {
    font-size: 14px;
    margin: 12px 0 0 0;
  }
}
